<% if @chat_room %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-primary chat_room">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @chat_room.title %> - <em style="font-size:12px;text-shadow:none;">Draftin' uses github style markdown. <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" rel="nofollow", target="_BLANK" style="color:#FFF0C7;">Check out the cheatsheet</a> for text formatting options.</em></h3>
        </div>

        <div class="panel-body" id="chat_room_content">
          <% @recent_comments.each do |comment| %>
            <div class="user_comment">
                <%= markdown("<span class=\"label label-default\">#{comment.user.username} @#{comment.created_at.strftime("%l:%M on %a").gsub(/^\s/,'')}</span> #{comment.content}") %>
            </div>
          <% end %>
        </div>

        <div class="panel-body">
          <div class="input-group chat_room_input_area">
            <span class="input-group-addon"><%= @session_user.username %></span>
            <input type="text" class="form-control" id="chat_room_input">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" id="chat_room_button" onclick="draftin.comment.postChatRoomComment(<%=@session_user.id%>, <%=@chat_room.id%>)">Submit</button>
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <script type="text/javascript">
    $(document).ready(function(){
      draftin.comment.initChatRoom(<%= @session_user.id %>, <%= @chat_room.id %>, <%= @recent_comments.last ? @recent_comments.last.id : 0 %>);
    });
  </script>
<% end %>