<center>
  <%= image_tag "etc/alpha-ribbon.png", :width => "107" %>
  <p class="title" style="font-size: 14px; text-align: center; font-weight: bold; margin: 15px 0px 50px 0px;">
    Reset Your <%= APP_NAME %> Password
  </p>
</center>

<p>Hi <%= @user.username %>,</p>

<p>
  To reset your password for <%= APP_NAME %>, simply open this link and provide a new password:
</p>

<p>
  <a href="<%= users_url %>/reset_password?recovery_hash=<%= @user.recovery_hash %>">
    Reset My Password
  </a>
</p>

<p>- <%= APP_NAME %></p>