<div class="navbar navbar-default navbar-fixed-top">
  <div class="beta_ribbon">
    <%= image_tag "etc/alpha-ribbon.png" %>
  </div>
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><%= image_tag "logo.png", :class => "header_logo" %></a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <% if @session_user %>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <% if @session_user.admin? %>
            <li><%= link_to "Admin", "/admin", :style => "border: none;" %></li>
          <% end %>
          <li><%= link_to @session_user.username, "/", :style => "border: none;" %></li>
          <li><%= link_to "Logout", "/session", method: :delete, :style => "border: none;" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>