<div class="row">

  <div class="col-sm-6">
    <div class="list-group">
      <span class="list-group-item" style="background-color: #3e444c;">My Drafts</span>
      <% 5.times do |x| %>
        <% if @drafts[x] %>
          <a href="<%= draft_path(@drafts[x]) %>?password=<%= @drafts[x].password %>" class="list-group-item">
            <%= @drafts[x].name %><span class="label label-<%= (@drafts[x].stage == CREATE_STAGE ? "success" : @drafts[x].stage == DRAFT_STAGE ? "warning" : "danger" ) %>" style="float:right;"><%= @drafts[x].status %></span>
          </a>
        <% else %>
          <span class="list-group-item" style="min-height:42px;"></span>
        <% end %>
      <% end %>
      <span class="list-group-item" style="background-color: #3e444c;">
        <ul class="pagination pagination-sm" style="margin: -4px 0px -8px 0px;">
          <li <%if !@drafts.previous_page%>class="disabled"<%end%>><a href="<%=@drafts.previous_page ? "/?page=#{@drafts.previous_page}" : "#"%>">«</a></li>
          <% if @drafts.current_page > 1 %>
            <li><a href="/?page=<%=@drafts.current_page - 1%>"><%=@drafts.current_page - 1%></a></li>
          <% end %>
          <li class="active"><a href="#"><%= @drafts.current_page %></a></li>
          <% if @drafts.next_page %>
            <li><a href="/?page=<%=@drafts.current_page + 1%>"><%=@drafts.current_page + 1%></a></li>
          <% end %>
          <li <%if !@drafts.next_page%>class="disabled"<%end%>><a href="<%=@drafts.next_page ? "/?page=#{@drafts.next_page}" : "#"%>">»</a></li>
        </ul>
      </span>
    </div>
  </div>

  <div class="col-sm-6">
    <form class="bs-example form-horizontal" method="POST" action="<%= drafts_path %>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <h3>Create Draft</h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Draft Name" name="draft[name]">
        <span class="input-group-btn">
          <button class="btn btn-default btn-success" type="submit">Create</button>
        </span>
      </div>
    </form>

    <!--<div class="special_hr" style="margin: 20px 0px -5px 0px;"></div>-->
    <div style="margin: 35px 0px 0px 0px;"></div>

    <form class="bs-example form-horizontal" method="POST" action="<%= join_draft_path %>">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <h3>Join Draft</h3>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Draft ID" name="id">
        <span class="input-group-btn">
          <button class="btn btn-default btn-success" type="submit">Join</button>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Draft Password" name="password" style="width:50%;margin-top:15px;">
    </form>
  </div>
  
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="list-group scrollable_list">
      <span class="list-group-item" style="background-color: #3e444c;">
        Recent Drafts
        <button class="btn btn-xs btn-success" onclick="location.reload();" style="float:right;">Refresh &#x21bb;</button>
      </span>
      <div class="inner_list_group">
        <% @recent_drafts.each do |draft| %>
          <span class="list-group-item">
            <span class="label label-primary start_label">
              #<%= draft.id %>
            </span>
            <%= draft.name %>

            <% if draft.open_user_slot? %>
              <% if Float(Float(draft.user_count) / Float(draft.max_users)) >= 0.5 %>
                <span class="label label-warning" style="float:right;"><%= draft.user_count %> / <%= draft.max_users %></span>
              <% else %>
                <span class="label label-success" style="float:right;"><%= draft.user_count %> / <%= draft.max_users %></span>
              <% end %>
              <% if !draft.password.blank? %>
                <span class="label label-danger" style="float:right; margin-right:5px;">Has Password</span>
              <% end %>
            <% else %>
              <span class="label label-danger" style="float:right;">Room Full</span>
            <% end %>
          </span>
        <% end %>
      </div>
      <span class="list-group-item" style="background-color: #3e444c;">
        <span class="label label-primary"><%= @recent_drafts.length %></span> drafts in the last <span class="label label-primary">20</span> minutes.
      </span>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="list-group scrollable_list">
      <span class="list-group-item" style="background-color: #3e444c;">
        Online Users
        <button class="btn btn-xs btn-success" onclick="location.reload();" style="float:right;">Refresh &#x21bb;</button>
      </span>
      <div class="inner_list_group">
        <% @online_users.each do |user| %>
          <span class="list-group-item">
            <%= user.username %>
            <span class="label label-primary" style="float:right;">
              Last Seen: <%= user.last_seen.strftime("%l:%M on %a").gsub(/^\s/,'') %>
            </span>
          </span>
        <% end %>
      </div>
      <span class="list-group-item" style="background-color: #3e444c;">
        <span class="label label-primary"><%= @online_users.length %></span> users online in the last <span class="label label-primary">2</span> minutes.
      </span>
    </div>
  </div>
  
</div>

<%= render "chat_rooms/chat_room" %>