<div class="row">
  <div class="col-lg-12">
    <div class="bs-example">
      <div class="jumbotron">
        <h1>Draftin'</h1>
        <p>A simple drafting tool for Magic the Gathering.</p>
        <% unless @session_user %>
          <p>Login or create an account below to start Draftin'.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @session_user %>
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <form class="bs-example form-horizontal" method="POST" action="<%= drafts_path %>">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <fieldset>
            <legend>Create Draft</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Draft Name</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Draft Name" name="draft[name]">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-1">
                <button type="submit" class="btn btn-primary btn-success">Create</button>
                <button class="btn btn-default btn-danger">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="well">
        <form class="bs-example form-horizontal" method="POST" action="<%= join_draft_path %>">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <fieldset>
            <legend>Join Draft</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Draft ID</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Draft ID" name="id">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-1">
                <button type="submit" class="btn btn-primary btn-success">Join</button>
                <button class="btn btn-default btn-danger">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1 id="tables">My Drafts</h1>
      </div>

      <div class="bs-example table-responsive">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>#</th>
              <th>Draft Name</th>
              <th>Draft Status</th>
              <th>Draft Options</th>
            </tr>
          </thead>
          <tbody>
            <% @drafts.each do |draft| %>
              <tr>
                <td style="line-height:40px;"><%= draft.id %></td>
                <td style="line-height:40px;"><%= draft.name %></td>
                <td style="line-height:40px;">
                  <button type="button" class="btn btn-info disabled"><%= draft.status %></button>
                </td>
                <td style="line-height:40px;">
                  <a href="<%= draft_path(draft) %>">
                    <button type="button" class="btn btn-success">Draft Lounge</button>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @drafts %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <form class="bs-example form-horizontal" method="POST" action="<%= session_path %>">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <fieldset>
            <legend>Login</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Username</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Username" name="username">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">Password</label>
              <div class="col-lg-9">
                <input type="password" class="form-control" placeholder="Password" name="password">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-1">
                <button type="submit" class="btn btn-primary btn-success">Login</button>
                <button class="btn btn-default btn-danger">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="well">
        <form class="bs-example form-horizontal" method="POST" action="<%= users_path %>">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <fieldset>
            <legend>Create Account</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-3 control-label">Username</label>
              <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Username" name="user[username]">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-3 control-label">Password</label>
              <div class="col-lg-9">
                <input type="password" class="form-control" placeholder="Password" name="user[password]">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-9 col-lg-offset-1">
                <button type="submit" class="btn btn-primary btn-success">Create</button>
                <button class="btn btn-default btn-danger">Cancel</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
<% end %>