<div class="row">
  <div class="col-sm-12">
    <center>
      <% if @handled == "TRUE" %>
        <h2>Handled Feedback</h2>
        <a href="?handled=0">New Feedback</a>
      <% else %>
        <h2>New Feedback</h2>
        <a href="?handled=1">Handled Feedback</a>
      <% end %>
    </center>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="list-group">
      <% @feedbacks.each do |feedback| %>
        <span class="list-group-item">
          <h4 class="list-group-item-heading"><%= feedback.title %> - <%= feedback.user.username %></h4>
          <p class="list-group-item-text"><%= feedback.content %></p>
          <a data-confirm="Are you sure?" data-method="put" href="<%= feedback_path(feedback) %>?feedback[handled]=1" rel="nofollow">
            <button type="button" class="btn btn-success btn-xs">handle</button>
          </a>
          <a data-confirm="Are you sure?" data-method="delete" href="<%= feedback_path(feedback) %>" rel="nofollow">
            <button type="button" class="btn btn-danger btn-xs">Destroy</button>
          </a>
        </span>
      <% end %>
    </div>
    <%= will_paginate @companies %>
  </div>
</div>