<div class="row">

  <div class="col-sm-4">
    <div id="draft_users">
      <ul class="list-group">
        <li class="list-group-item" style="background-color:#49515a;">
          Users
        </li>
        <% @draft.users.each do |user| %>
          <li class="list-group-item user"><%= user.username %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <div id="draft_sets">
      <ul class="list-group">
        <li class="list-group-item" style="background-color:#49515a;">
          Sets
        </li>
        <div id="set_container">
          <% @draft.card_sets.each do |set| %>
            <li class="list-group-item"><%= set.name %><button type="button" class="btn btn-danger btn-xs" style="float:right;" onclick="draftin.draft.lobby.removeSet(<%= set.id %>);">Remove</button></li>
          <% end %>
        </div>
        <li class="list-group-item" id="add_set_container">
          <%= select_tag :set_id, options_for_select(CardSet.allowed_sets) %>
          <button type="button" class="btn btn-info btn-xs" style="float:right;" onclick="draftin.draft.lobby.addSet();">Add Set</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-sm-4">
    <ul class="list-group">
      <li class="list-group-item" style="background-color:#49515a;">
        Settings
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12">
            Max Users: 
            <% if @draft.user.id == @session_user.id %>
              <select id="max_user_count" style="float:right;">
                <% (1..8).each do |x| %>
                  <option value="<%= x %>"<%if x == @draft.max_users%>selected="selected"<%end%>><%= x %></option>
                <% end %>
              </select>
            <% else %>
              <span class="label label-success" style="float:right;"><%= @draft.max_users %></span>
            <% end %>
          </div>
          <div class="col-sm-12" style="margin-top:10px;">
            Password: 
            <% if @draft.password.blank? %>
              <span class="label label-warning" style="float:right;">No Password</span>
            <% else %>
              <span class="label label-success" style="float:right;"><%= @draft.password %></span>
            <% end %>
          </div>
        </div>
          
      </li>
      <li class="list-group-item">
        <% if @draft.user.id == @session_user.id %>
          <form class="bs-example form-horizontal" method="POST" action="<%= draft_path(@draft) %>">
            <input name="_method" type="hidden" value="PUT" />
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Draft Password" name="draft[password]">
              <span class="input-group-btn">
                <button class="btn btn-default btn-success" type="submit" onclick="draftin.loading();">Set Password</button>
              </span>
            </div>
          </form>
        <% else %>
          <em>Only the draft coordinator may change draft settings.</em>
        <% end %>
      </li>
    </ul>
  </div>

</div>