<div class="row">
  <div class="col-lg-8">
    <h2>#<%= @draft.id %> - <%= @draft.name %></h2>
  </div>
  <% if @draft.stage == DRAFT_STAGE %>
    <div class="col-lg-4">
      <button type="button" class="btn btn-success disabled" onclick="console.log('Next Pack Starting...');">Next Pack</button>
      <a data-method="delete" href="<%= draft_path(@draft) %>/leave" rel="nofollow" data-confirm="Are you sure?">
        <button type="button" class="btn btn-info">Leave Draft</button>
      </a>
      <a data-method="delete" href="<%= draft_path(@draft) %>" rel="nofollow" data-confirm="Are you sure?">
        <button type="button" class="btn btn-danger">Destroy Draft</button>
      </a>
    </div>
  <% end %>
</div>

<% if @draft.stage == CREATE_STAGE %>
  <div class="row">

    <div class="col-lg-4">
      <div id="draft_users">
        <ul class="list-group">
          <li class="list-group-item" style="background-color:#49515a;">
            Users
          </li>
          <% @draft.users.each do |user| %>
            <li class="list-group-item user"><%= user.username %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-lg-4">
      <div id="draft_sets">
        <ul class="list-group">
          <li class="list-group-item" style="background-color:#49515a;">
            Sets
          </li>
          <div id="set_container">
            <% @draft.card_sets.each do |set| %>
              <li class="list-group-item"><%= set.name %><button type="button" class="btn btn-danger btn-xs" style="float:right;" onclick="draftin.draft.lobby.removeSet(<%= set.id %>);">Remove</button></li>
            <% end %>
          </div>
          <li class="list-group-item" id="add_set_container">
            <%= select_tag :set_id, options_for_select(CardSet.all.map{|s| [s.name,s.id]}.unshift(["Sets",""])) %>
            <button type="button" class="btn btn-info btn-xs" style="float:right;" onclick="draftin.draft.lobby.addSet();">Add Set</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bs-example">
        <ul class="list-group">
          <li class="list-group-item" style="background-color:#49515a;">
            Options
          </li>
          <li class="list-group-item">
            <button type="button" class="btn btn-success start_button" onclick="$('button.start_button').addClass('disabled');draftin.draft.lobby.startDraft();">Start Draft</button>
            <a data-method="delete" href="<%= draft_path(@draft) %>/leave" rel="nofollow" data-confirm="Are you sure?">
              <button type="button" class="btn btn-info">Leave Draft</button>
            </a>
            <a data-method="delete" href="<%= draft_path(@draft) %>" rel="nofollow" data-confirm="Are you sure?">
              <button type="button" class="btn btn-danger">Destroy Draft</button>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
<% elsif @draft.stage == DRAFT_STAGE %>
  <p>Drafting Stage sucka!</p>
<% else %>
  <p>Draft is OVER! Display cards!</p>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  draftin.draft.init(<%= @draft.id %>, <%= @draft.stage %>);
});
</script>